* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 60px;
    background-color: deepskyblue;
    display: flex;
}

.start-bar {
    background-color: gold;
    flex: 0 1 700px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-inline: auto;
    border: 1.5px dashed black;
    display: flex;
}

.text-1{
    flex: 0 0 15%;
    padding-left: .5rem;
    padding-top: .2rem;
}

.text-2{
    flex: 0 0 70%;
    text-align: center;
    padding-top: .2rem;
    border-inline: 1.5px dashed black;
}

.text-3{
    flex: 0 0 15%;
    text-align: end;
    padding-right: .5rem;
    padding-top: .2rem;
}

header {
    height: 300px;
    background-color: blue;
    display: flex;
}

.square {
    background-color: hotpink;
    flex: 0 1 400px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-inline: auto;
    border: 1.5px dashed black;
}

.container-1 {
    height: 350px;
    display: flex;
}

.square-1 {
    max-width: 700px;
    width: 700px;
    margin: 2rem;
    margin-inline: auto;
    background-color: darkorange;
    align-content: center;
    display: flex;
    border: 1.5px dashed black;
}

.square-blue {
    flex: 0 1 60%;
    background-color: deepskyblue;
    border-right: 1.5px dashed black;;
}

.square-pink {
    flex: 0 1 40%;
    background-color: lightpink;
}

.row{
    flex-direction: row-reverse;
}

.grey {
    background-color: lightgrey;
}

.container-2 {
    background-color: lightgray;
    display: flex;
}

.big-square {
    background-color: green;
    flex: 0 1 700px;
    margin-inline: auto;
    height: 600px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1.5px dashed black;
}

.container-3 {
    background-color: darkslategray;
    border-bottom: 1px solid white;
}

.square-3 {
    max-width: 700px;
    margin-inline: auto;
    height: 400px;
    display: flex;
}

.little-square-1 {
    flex: 0 1 40%;
    background-color: salmon;
    margin-top: .5rem;
    margin-bottom: 2rem;
    border: 1.5px dashed black;
}

.little-square {
    flex: 0 1 15%;
    background-color: aquamarine;
    margin-top: .5rem;
    margin-bottom: 2rem;
    border: 1.5px dashed white;

}

footer {
    height: 60px;
    background-color: darkslategray;
    display: flex;
}

.end-bar {
    background-color: aquamarine;
    flex: 0 1 700px;
    margin-top: 1rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-end {
    border: 1.5px dashed black;
    padding: .1rem;
    background-color: pink;
    font-size: .9rem;
}